<!-- <div class="container text-center">
    <div class="row">
        <div class="col">
            

        </div>
        <div class="col mt-5 bg-secondary">
            <mat-card class="example-card">
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
                <mat-card-header >
                    <h1 class="start-50">Login</h1>
                </mat-card-header>
                <mat-card-content>


                    
                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col "></div>
    </div>
</div> -->
<!-- <div class="back"><img src="../../../assets/SPYDER BUSINESS (RGB)_REV-01.png"/></div> -->
<div class="body">
    
    
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="col">
        </div>
        <div class="signup">
            <form >
                
                <label class="label1" for="chk" aria-hidden="true">
                    <img style="display: block; width: 50px;" src="../../../assets/eqipped_1.png" alt="Photo of a Shiba Inu">
                    <br/><div>Login</div>
                </label>


                <input  class="input" required="" name="emailId" type="text" id="emailId"
                    placeholder="Email Id">

                <input class="input"  required="" name="password" type="password" id="password"
                    placeholder="Password">
                <button>Login</button>  
                <button type="reset">Clear</button>
                <!-- <mat-spinner *ngIf="loaderService.isLoading | async" class="spinner" color="accent"></mat-spinner> -->
            </form>
        </div>
        

        <div class="login">
            
            <form >
                <label class="label2" for="chk" aria-hidden="true">Forget Password</label>
                <input  class="input"  type="email" name="email" placeholder="Email" required="">

                <button>Reset Password</button>
                <button type="reset">Clear</button>
                <!-- <mat-spinner *ngIf="loaderService.isLoading | async" class="spinner" color="accent"></mat-spinner> -->
            </form>
        </div>
       

    </div>
</div>