<div class="">


    <div class='row'>
        <a routerLink="equipments"class='col categoryGrid'>
            <img style="width: 40px" src='../../../../assets/microscope.png' />
            <p>Equipment</p>
        </a>
        <a routerLink="instruments"class='col categoryGrid'>
            <img style="width: 40px" src='../../../../assets/loupe.png' />
            <p>Instruments</p>
        </a>
        <a routerLink="plasticWare"class='col categoryGrid'>
            <img style="width: 40px" src='../../../../assets/beaker.png' />
            <p class=''>PlasticWare</p>
        </a>
        <a routerLink="glassWare"class='col categoryGrid'>
            <img style="width: 40px" src='../../../../assets/test_tube.png' />
            <p>GlassWare</p>
        </a>
        <a routerLink="chemicals"class='col categoryGrid'>
            <img style="width: 40px" src='../../../../assets/flask.png' />
            <p>Chemicals</p>
        </a>
        <a routerLink="chart"class='col categoryGrid'>
            <img style="width: 40px" src='../../../../assets/smiling-skeleton.png' />
            <p>Chart</p>
        </a>
        <a routerLink="physics"class='col categoryGrid'>
            <img style="width: 40px" src='../../../../assets/physics.png' />
            <p>Physics</p>
        </a>
        <a routera="chemistry"class='col categoryGrid'>
            <img style="width: 40px" src='../../../../assets/chemistory.png' />
            <p>Chemistry</p>
        </a>
        <a routera="biology" class='col categoryGrid'>
            <img style='width: 40px'  src='../../../../assets/biology.png' />
            <p>Biology</p>
        </a>
    
    </div>
</div>